<%= if @user_id do %>
<script>
  window.token="<%= @token %>"
  window.user_id="<%= @user_id %>"
  window.no_email="<%= @no_email %>"
</script>
<% end %>
<div id="root">
  <p>
    Pending
  </p>
</div>
