@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css");

body {
  width: 100%;
  height: auto;
}

.wholeindex {
    background-image: url('https://www.metropolis.org/sites/default/files/media_root/images/johannesburg_caring_cities.jpg');
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.1) 0%,rgba(255,255,255,0.4) 100%), url('https://www.metropolis.org/sites/default/files/media_root/images/johannesburg_caring_cities.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding:50px;
    height: 100%;
    width: 100%;
    min-width: 1000px;
    min-height: 1500px;
    margin: 0 auto;
}
