@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf');
}

.index {
  width: 100%;
}

.news-panel {
 float: left;
 width: 60%;
}


#order-book {
 float: right;
 margin-right: 10px;
 color: #fff;
 width: 33%;
}


@media (max-width: 992px) {
  #root {
    width: 90%;
  }

  .index {
    width: 90%;
  }
}

@media (max-width: 880px) {
  #root {
    width: 85%;
  }
  .index {
    width: 85%;
  }
}

@media (max-width: 835px) {
  #root {
    width: 80%;
  }
  .index {
    width: 80%;
  }
}

@media (max-width: 785px) {
  #root {
    width: 75%;
  }
  .index {
    width: 75%;
  }
  .wholeindex{
    min-height: 2000px;
  }
}

@media (max-width: 768px) {
  #root {
    width: 70%;
  }
  .index {
    width: 70%;
  }
  .wholeindex{
    min-height: 2000px;
  }
}

@media (max-width: 700px) {
  #root {
    width: 65%;
  }
  .index {
    width: 65%;
  }
  .wholeindex{
    min-height: 2000px;
  }
}

@media (max-width: 640px) {
  #root {
    width: 50%;
  }
  .index {
    width: 100%;
  }
  .wholeindex{
    min-height: 2000px;
  }

  #order-book {
    width: 100%;
  }

  .news-panel {
    width: 100%;
    float: right;
  }
}

@media (max-width: 350px) {
  #root {
    width: 30%;
  }
  .index {
    width: 100%;
  }
  .wholeindex{
    min-height: 2500px;
  }

  #order-book {
    width: 100%;
  }

  .news-panel {
    width: 100%;
    float: right;
  }
}



.text {
    position: absolute;
    color: white;
    bottom: 0;
    top: 10px;
    left: 0;
    border-left: 1px solid rgba(228,230,233,0.2);
    padding-bottom: 220px;
}

.nav-tabs li a {
  color: black;
  font-family: Poppins-Regular;
}

.news-body {
  padding-top: 20px;
  background-color: rgba(0,0,0,0.1);
}

* {
    box-sizing: border-box;
}

.btc-suffix {
    font-size: 11px;
    font-weight: 600;
    margin-left: 2px;
}

dd {
    display: block;
    -webkit-margin-start: 40px;
}

#order-book .stats-panel {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    overflow: hidden;
    padding: 30px 0 24px 0;
    width: 342px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

#order-book .stats-panel .stat {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
    padding: 22px 0 0 25px;
}

.news-body a {
  color: white;
}

.news-body a:hover {
  color: gray;
  text-decoration: none;
}
