#login-dp{
    min-width: 250px;
    padding: 14px 14px 0;
    overflow:hidden;
    background-color:rgba(255,255,255,.9);
}
#login-dp .help-block{
    font-size:12px
}
#login-dp .bottom{
    background-color:rgba(255,255,255,.9);
    border-top:1px solid #ddd;
    clear:both;
    padding:14px;
}
#login-dp .social-buttons{
    margin:12px 0
}
#login-dp .social-buttons a{
    width: 49%;
}
#login-dp .form-group {
    margin-bottom: 10px;
}
.social-buttons{
  background-color: LightGrey;
  border-radius: 25px;
  text-decoration: none;
  text-align: center;
}
.fa-github{
  padding: 0.1em;
  margin-right: 0.1em;
  text-decoration: none;
  text-align: center;
}
.fa-google{
  padding: 0.1em;
  margin-left: 0.1em;
  text-decoration: none;
  text-align: center;
}
@media(max-width:768px){
    #login-dp{
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom{
        background-color: inherit;
        border-top:0 none;
    }
}

.unstyled-button {
  border: none;
  padding: 0;
  background: none;
}

.user-info {
  margin-top: 5%;
}
